# Imports

In [1]:
import sqlite3
import pandas as pd
import numpy as np
import seaborn as sns

# Fixed Variables

In [2]:
db_path = "data/score.db"

# Setup connection to DB and import DB into pandas

In [3]:
connection = sqlite3.connect(db_path)
cur = connection.cursor()
print("Database created and Successfully Connected to SQLite")
df = pd.read_sql_query("SELECT * FROM score", connection)
connection.close()
print("Database imported to pandas DF, closing connection to database")

Database created and Successfully Connected to SQLite
Database imported to pandas DF, closing connection to database

# Quick view of dataset we are working with

In [4]:
df.head()

,index,number_of_siblings,direct_admission,CCA,learning_style,student_id,gender,tuition,final_test,n_male,n_female,age,hours_per_week,attendance_rate,sleep_time,wake_time,mode_of_transport,bag_color
0,0,0,Yes,Sports,Visual,ACN2BE,Female,No,69.0,14.0,2.0,16.0,10.0,91.0,22:00,6:00,private transport,yellow
1,1,2,No,Sports,Auditory,FGXIIZ,Female,No,47.0,4.0,19.0,16.0,7.0,94.0,22:30,6:30,private transport,green
2,2,0,Yes,None,Visual,B9AI9F,Male,No,85.0,14.0,2.0,15.0,8.0,92.0,22:30,6:30,private transport,white
3,3,1,No,Clubs,Auditory,FEVM1T,Female,Yes,64.0,2.0,20.0,15.0,18.0,NaN,21:00,5:00,public transport,yellow
4,4,0,No,Sports,Auditory,AXZN2E,Male,No,66.0,24.0,3.0,16.0,7.0,95.0,21:30,5:30,public transport,yellow

In [5]:
df.tail()

,index,number_of_siblings,direct_admission,CCA,learning_style,student_id,gender,tuition,final_test,n_male,n_female,age,hours_per_week,attendance_rate,sleep_time,wake_time,mode_of_transport,bag_color
15895,15895,1,No,Clubs,Visual,XPECN2,Female,No,56.0,12.0,14.0,16.0,9.0,96.0,22:00,6:00,private transport,black
15896,15896,1,Yes,None,Auditory,7AMC7S,Male,Yes,85.0,17.0,5.0,16.0,7.0,91.0,22:30,6:30,private transport,white
15897,15897,1,Yes,Sports,Auditory,XKZ6VN,Female,Yes,76.0,7.0,10.0,15.0,7.0,93.0,23:00,7:00,walk,red
15898,15898,1,No,Clubs,Visual,2OU4UQ,Male,Yes,45.0,18.0,12.0,16.0,3.0,94.0,23:00,7:00,walk,yellow
15899,15899,2,Yes,None,Visual,D9OKLV,Male,No,87.0,11.0,7.0,16.0,9.0,91.0,23:00,7:00,walk,yellow

### By looking at the unique values, we are able to immediately see a slight mismatch in index and student_id, meaning there are 900 entries that we need to verify are usable

In [6]:
df.nunique()

index                 15900
number_of_siblings        3
direct_admission          2
CCA                       8
learning_style            2
student_id            15000
gender                    2
tuition                   4
final_test               68
n_male                   32
n_female                 32
age                       6
hours_per_week           21
attendance_rate          61
sleep_time               13
wake_time                 5
mode_of_transport         3
bag_color                 6
dtype: int64

In [7]:
df.shape

(15900, 18)

# Data Cleaning

## STUDENT_ID

### A total of 900 student_id are duplicates. A same assumption would be that there should not be any duplicate student_id's, and thus these are dropped

#### Using this list of duplicated student_id's, we are able to check whether the repeated entries have the same data.

In [8]:
df[df.duplicated(['student_id'], keep=False)]

,index,number_of_siblings,direct_admission,CCA,learning_style,student_id,gender,tuition,final_test,n_male,n_female,age,hours_per_week,attendance_rate,sleep_time,wake_time,mode_of_transport,bag_color
4,4,0,No,Sports,Auditory,AXZN2E,Male,No,66.0,24.0,3.0,16.0,7.0,95.0,21:30,5:30,public transport,yellow
12,12,0,No,Sports,Visual,T4U89N,Male,Yes,85.0,14.0,4.0,16.0,8.0,95.0,23:00,7:00,walk,green
14,14,0,Yes,Arts,Auditory,G0JBVS,Female,Yes,75.0,14.0,2.0,15.0,15.0,98.0,22:30,6:30,private transport,white
21,21,0,No,None,Visual,HJ6Y5P,Male,Yes,86.0,17.0,6.0,16.0,8.0,91.0,23:30,6:30,private transport,red
24,24,0,No,Arts,Visual,PQ059G,Male,No,77.0,23.0,4.0,15.0,6.0,93.0,21:00,5:00,public transport,red
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15868,15868,1,No,Clubs,Visual,1FKAEF,Male,No,61.0,20.0,6.0,16.0,6.0,95.0,21:30,5:30,public transport,yellow
15871,15871,1,No,Arts,Visual,Z9YY3M,Female,No,52.0,25.0,5.0,15.0,18.0,98.0,22:00,6:00,private transport,black
15875,15875,0,No,Clubs,Auditory,MCO9BB,Female,Yes,68.0,17.0,4.0,16.0,13.0,99.0,22:00,6:00,private transport,red
15886,15886,0,No,None,Visual,72YL3P,Male,Yes,89.0,10.0,12.0,15.0,7.0,95.0,22:00,6:00,private transport,blue
15894,15894,0,No,NONE,Visual,XT1L7Z,Male,Yes,73.0,16.0,12.0,15.0,14.0,95.0,22:30,6:30,private transport,blue

In [9]:
df.index[df['student_id']=="1FKAEF"].tolist()

[15273, 15868]

In [10]:
print(df.loc[[15273]])

       index  number_of_siblings direct_admission    CCA learning_style  \
15273  15273                   1               No  Clubs         Visual

      student_id gender tuition  final_test  n_male  n_female   age  \
15273     1FKAEF   Male      No        61.0    20.0       6.0  16.0

       hours_per_week  attendance_rate sleep_time wake_time mode_of_transport  \
15273             6.0             95.0      21:30      5:30  public transport

      bag_color
15273     green

In [11]:
print(df.loc[[15868]])

       index  number_of_siblings direct_admission    CCA learning_style  \
15868  15868                   1               No  Clubs         Visual

      student_id gender tuition  final_test  n_male  n_female   age  \
15868     1FKAEF   Male      No        61.0    20.0       6.0  16.0

       hours_per_week  attendance_rate sleep_time wake_time mode_of_transport  \
15868             6.0             95.0      21:30      5:30  public transport

      bag_color
15868    yellow

#### From the above 3 cells, we are able to verify that these entries are indeed repeated and thus can be removed

In [12]:
df = df.drop_duplicates(subset=['student_id'], keep='first')
df.shape

(15000, 18)

## TUITION #TODO

### Under tuition there are 4 different variables that will need to be cleaned as well, sorted into 2 variables, "Yes" and "No"

In [13]:
df['tuition'].unique()

array(['No', 'Yes', 'Y', 'N'], dtype=object)

## CCA #TODO

### None and NONE needs to be cleaned

In [14]:
df['CCA'].unique()

array(['Sports', 'None', 'Clubs', 'Arts', 'ARTS', 'SPORTS', 'CLUBS',
       'NONE'], dtype=object)

## FINAL_TEST

### For nan scores, we need to determine the reason behind it, did they not take the test at all? Find the number of these scores, and if it is a significant number, perhaps we can exclude these scores

In [15]:
df['final_test'].unique()

array([ 69.,  47.,  85.,  64.,  66.,  57.,  76.,  60.,  72.,  52.,  83.,
        75.,  63.,  42.,  70.,  56.,  79.,  59.,  86.,  95.,  77.,  54.,
        74.,  39.,  88.,  nan,  78.,  58.,  45.,  53.,  71.,  92.,  62.,
        81.,  49.,  82.,  48.,  51.,  40.,  65.,  55.,  50.,  94.,  67.,
        89.,  93.,  87.,  46.,  84.,  73.,  91.,  38.,  96.,  68.,  61.,
        41.,  80.,  44.,  99.,  43.,  90.,  34., 100.,  37.,  97.,  32.,
        35.,  98.,  36.])

### There are a total of 463 entries that do not have values, without further information on why these students did not have scores, these will have to be removed from the dataset

In [16]:
mask = pd.to_numeric(df['final_test'], errors='coerce').isna()
print(mask.sum())
df.shape

463

(15000, 18)

## AGE

### As this dataset is based on secondary school data, which on average is for students between the ages 12-17 (including those born on 31 Dec and including all streams), those entries with ages <12 will be removed

In [17]:
df['age'].unique()

array([16., 15.,  6.,  5., -4., -5.])